// Change some base options
@import "base";
$root-color: #4A4A4A;
$root-font-family: 'Montserrat', verdana, sans-serif;

// Then add our framework.
@import "sanitize";
@import "grid-mixin";
@import "menu-mixin";
@import "embed";

// Some style defaults
h1,h2,h3,h4,h5,h6,a {
	color: #BE141B;
}
hr {
	display: block;
	margin: 2rem auto;
	width: 80%;
	border: none;
	border-bottom: 1px dashed #BE141B;
}

// Header
header.site {
	@include lucky-grid;
	padding: 1.5rem;

	>div {
		@include lucky-column('full');
		text-align: center;

		img {
			margin-bottom: 1rem;
		}
	}
}

// Footer
footer.site {
	padding: 3rem 1.5rem;
}

// Main Menu
nav.main.menu {
	@include lucky-menu;
	justify-content: center;

	>a {
		@include lucky-menu-item;
		font-family: 'Montserrat', verdana, sans-serif;
		font-size: 1.25rem;
		color: #BE141B;

		>div {
			@include lucky-menu-label;
		}
	}
}

// Content
main.site {
	margin: 1rem 10vw 2rem;
}

// Posts
section.posts {
	article {
		margin-bottom: 2rem;

		header {
			h1 {
				margin: 0;
				font-size: 2rem;
				line-height: 1.3;
			}

			.date {
				font-size: 1.25rem;
				color: #BE141B;
			}
		}

		main {
			margin-bottom: 2rem;
		}

		footer {
			border-top: 2px dashed #BE141B;
			border-bottom: 2px dashed #BE141B;

			a {
				display: block;
				padding: 0.5rem 0;
				text-align: center;
			}
		}
	}
}

@media (min-width: $small-screen) {

	header.site {
		>div {
			@include lucky-column('half');
			text-align: left;
		}
	}

	nav.main.menu {
		justify-content: flex-end;
	}
}

@media (min-width: $medium-screen) {

	section.posts {
		article {

			header {
				h1 {
					font-size: 2.5rem;
				}
			}
		}
	}

}
