{% extends '_layout' %}

{% block content %}
	<section class="posts">
		<article>
			<header>
				<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
				<p class="date">Posted on {{ entry.postDate|date('Y M d') }}</p>
			</header>
			<main>{{ entry.body.getPage(1) }}</main>
		</article>
	</section>
{% endblock %}
