<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bryan Redeagle's Blog</title>
		<style media="screen">{{ source('site.css') }}</style>
		<script src="{{ url('bundle.js') }}" charset="utf-8" defer></script>
	</head>
	<body>
		<header class="site">
			<div>
				<a href="{{ siteUrl }}"><img src="{{ url('assets/images/logo.svg') }}" class="Bryan Redeagle's Blog"></a>
			</div>
			<div>
				<nav class="main menu">
					<a href="{{ siteUrl }}"><div>Home</div></a>
					<a href="{{ url('about') }}"><div>About</div></a>
					<a href="{{ url('feed') }}"><div>Feed</div></a>
				</nav>
			</div>
		</header>
		<main class="site">
			{% block content %}{% endblock %}
		</main>
		<footer class="site">
			<p>&copy; Bryan Redeagle.</p>
		</footer>
	</body>
</html>
