{% extends '_layout' %}

{% block content %}
	<section class="posts">
		{%- paginate craft.entries.section('post').limit(10) as pageInfo, posts -%}
			{%- for p in posts -%}
				<article>
					<header>
						<h1><a href="{{ p.url }}">{{ p.title }}</a></h1>
						<p class="date">Posted on {{ p.postDate|date('Y M d') }}</p>
					</header>
					<main>{{ p.body.getPage(1) }}</main>
					<footer><a href="{{ p.url }}">Read More</a></footer>
				</article>
			{%- endfor -%}
		{%- endpaginate -%}
	</section>
{% endblock %}
